1 VERSIONINFO
 FILEVERSION 1,0,3,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "LCD12864B ST7920 proteus vsm model"
            VALUE "FileVersion", "1, 0, 3, 1"
            VALUE "InternalName", "LCD12864B proteus vsm model"
            VALUE "LegalCopyright", "Copyright (C) 2021 cdhigh"
            VALUE "OriginalFilename", "LCD12864B.dll"
            VALUE "ProductName", "LCD12864B ST7920 proteus vsm model"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END